body {
    background-color:powderblue;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

h1, h2, h5 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

div.ex1 {
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(192, 230, 7);
    border: 2px solid black;
    text-align: center;
    margin: 20px 10px;
    text-transform: capitalize;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #777;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.column {
    display: inline-block;
    width: auto;
    padding: 10px;
    margin: 10px;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

